selenium
webdriver-manager
numpy==1.23.3
pandas==1.5.0
torch==1.12.1
torchtext==0.13.1
pyopenssl==22.0.0
tqdm
scipy
scikit-learn
matplotlib
seaborn
nltk
openpyxl
undetected-chromedriver
transformers
xlrd
sentencepiece
datasets
Flask